:root {
  --main-font: 'Roboto', sans-serif;
  --roboto-medium: 500;
  --roboto-regular: 400;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --film-card-text-color: #8c8c8c;
  --warning-color: #ff001b;
  --accent-color: #ff6b08;
  --main-background-color: #e5e5e5;
  --light-background-color: #ffffff;
  --dark-background-color: #252525;
  --footer-text-color: #545454;
  --footer-background: #f7f7f7;
  --footer-background-dark: #151515;
  --shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --transition-duration: 350ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --shadow-page-pagination: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

// Roboto medium - font-weight: 500;
// Roboto regular - font-weight: 400;
// white-text-color: #ffffff;  -використовується в хедері та на помаранчовому фоні;
// film-card-text-color: #8c8c8c; -використовується тільки в модальних картках фільмів (світло-сірий);
