:root {
  --main-font: 'Roboto', sans-serif;
  --roboto-medium: 500;
  --roboto-regular: 400;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --film-card-text-color: #8c8c8c;
  --warning-color: #ff001b;
  --accent-color: #ff6b08;
  --main-background-color: #e5e5e5;
  --footer-text-color: #545454;
  --footer-background: #f7f7f7;
}

// Roboto medium - font-weight: 500;
// Roboto regular - font-weight: 400;
// white-text-color: #ffffff;  -використовується в хедері та на помаранчовому фоні;
// film-card-text-color: #8c8c8c; -використовується тільки в модальних картках фільмів (світло-сірий);
