<header class="header-bg-library">
  <div class="container header-section-library">
    <nav class="navigation">
      <a
        href="/src/index.html"
        class="navigation__logo logo"
        aria-label="Logo icon"
      >
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
        <span class="logo__name">Filmoteka</span>
      </a>
      <ul class="side-nav">
        <li class="side-nav__item list">
          <a href="/src/index.html" class="side-nav__link">Home</a>
        </li>
        <li class="side-nav__item list">
          <a
            href=""
            id="my-library"
            class="side-nav__link side-nav__link--current-page my-library"
            >My library</a
          >
        </li>
      </ul>
    </nav>

    <form>
      <ul class="data js-choice-data">
        <li class="data__item list">
          <label class="data__label">
            <input
              type="radio"
              name="data-btn"
              value="Watched"
              class="data__input visually-hidden"
              checked
            />
            <span class="data__btn" id="js-WatchedButton">Watched</span>
          </label>
        </li>
        <li class="data__item list">
          <label class="data__label">
            <input
              type="radio"
              name="data-btn"
              value="Queue"
              class="data__input visually-hidden"
            />
            <span class="data__btn" id="js-QueueButton">Queue</span>
          </label>
        </li>
      </ul>
    </form>

    <div class="js-warning header-warning"></div>
    <div class="js-search-results header-warning"></div>
  </div>
  <include src="./partials/themes.html"> </include>
</header>
