<header class="header-bg">
  <div class="container header-section">
    <nav class="navigation">
      <a
        href="/src/index.html"
        class="navigation__logo logo"
        aria-label="Logo icon"
      >
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
        <span class="logo__name">Filmoteka</span>
      </a>
      <ul class="side-nav">
        <li class="side-nav__item list">
          <a href="" class="side-nav__link side-nav__link--current-page home"
            >Home</a
          >
        </li>
        <li class="side-nav__item list">
          <a href="/src/library.html" class="side-nav__link">My library</a>
        </li>
      </ul>
    </nav>

    <form class="search-form" id="search-form">
      <input
        type="text"
        name="query"
        autocomplete="off"
        placeholder="Movie search"
        class="search-field"
      />
      <button type="submit" class="search-btn" aria-label="Movie search">
        <svg class="search-icon" width="12" height="12">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>

    <div class="js-warning header-warning"></div>
    <div class="js-search-results header-warning"></div>
  </div>
  <include src="./partials/themes.html"> </include>
</header>
