<div class="backdropp is-hidden" data-modal_our-team>
  <div class="modal_our-team">
    <button type="button" class="button-close-modal" data-close-modal_our-team>
      <svg class="" width="25" height="25">
        <use href="./images/sprite.svg#close-button"></use>
      </svg>
    </button>

    <h2 class="title_modal_our-team">
      <span class="title-accent">Go</span>IT Students
    </h2>

    <div>
      <ul class="employees-list">
        <li class="list-employees-item">
          <div class="position_name">
            <img
              class="employe-photo"
              src="./images/employes/dmytroAkelar.jpg"
              alt="employe photo"
            />
            <p class="employe-name">Dmytro Akelar</p>
          </div>
          <div class="description-card">
            <p class="employee-specialty">Frontend Developer</p>
            <ul class="social-list list">
              <li class="">
                <a
                  href="https://www.linkedin.com/in/akelarka/"
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a
                  href="https://www.facebook.com/dima.akelar"
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#fecebook"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a
                  href="https://github.com/akelarka"
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="list-employees-item">
          <div class="position_name">
            <img
              class="employe-photo"
              src="./images/employes/dmytroSkoroplias.jpg"
              alt="employe photo"
            />
            <p class="employe-name">Dmytro Skoroplias</p>
          </div>
          <div class="description-card">
            <p class="employee-specialty">Frontend Developer</p>
            <ul class="social-list list">
              <li class="">
                <a
                  href=""
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a
                  href=""
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#fecebook"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a
                  href="https://github.com/DSkoroplias"
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="list-employees-item">
          <div class="position_name">
            <img
              class="employe-photo"
              src="./images/employes/maksymIgnatenko.jpg"
              alt="employe photo"
            />
            <p class="employe-name">Maksym Ignatenko</p>
          </div>
          <div class="description-card">
            <p class="employee-specialty">Frontend Developer</p>
            <ul class="social-list list">
              <li class="">
                <a
                  href="https://www.linkedin.com/mwlite/in/maksym-ignatenko-04ab2b25a"
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a
                  href=""
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#fecebook"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a
                  href="https://github.com/max-ignat"
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="list-employees-item">
          <div class="position_name">
            <img
              class="employe-photo"
              src="./images/employes/yuriyOrekhov.jpg"
              alt="employe photo"
            />
            <p class="employe-name">Yuriy Orekhov</p>
          </div>
          <div class="description-card">
            <p class="employee-specialty">Frontend Developer</p>
            <ul class="social-list list">
              <li class="">
                <a
                  href="https://www.linkedin.com/in/yuriy-orekhov/"
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a
                  href=""
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#fecebook"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a
                  href="https://github.com/yuriy-o"
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="list-employees-item">
          <div class="position_name">
            <img
              class="employe-photo"
              src="./images/employes/mariiaMakarkina.jpg"
              alt="employe photo"
            />
            <p class="employe-name">Mariia Makarkina</p>
          </div>
          <div class="description-card">
            <p class="employee-specialty">Frontend Developer</p>
            <ul class="social-list list">
              <li class="">
                <a
                  href="https://www.linkedin.com/in/mariia-makarkina-5888a6112/"
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a
                  href=""
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#fecebook"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a
                  href="https://github.com/mariia-m-m"
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="list-employees-item">
          <div class="position_name">
            <img
              class="employe-photo"
              src="./images/employes/antonIvanov.webp"
              alt="employe photo"
            />
            <p class="employe-name">Anton Ivanov</p>
          </div>
          <div class="description-card">
            <p class="employee-specialty">Frontend Developer</p>
            <ul class="social-list list">
              <li class="">
                <a
                  href="https://www.linkedin.com/in/anton-ivanov-a32162254"
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a
                  href="https://www.facebook.com/profile.php?id=100017535586725"
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#fecebook"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a
                  href="https://github.com/AnthonyIvan0v"
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="list-employees-item">
          <div class="position_name">
            <img
              class="employe-photo"
              src="./images/employes/stanislavKermach.webp"
              alt="employe photo"
            />
            <p class="employe-name">Stanislav Kermach</p>
          </div>
          <div class="description-card">
            <p class="employee-specialty">Frontend Developer</p>
            <ul class="social-list list">
              <li class="">
                <a
                  href=""
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a
                  href=""
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#fecebook"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a
                  href="https://github.com/TrueMolni"
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="list-employees-item">
          <div class="position_name">
            <img
              class="employe-photo"
              src="./images/employes/vitaliiShved.jpg"
              alt="employe photo"
            />
            <p class="employe-name">Vitalii Shved</p>
          </div>
          <div class="description-card">
            <p class="employee-specialty">Frontend Developer</p>
            <ul class="social-list list">
              <li class="">
                <a
                  href="https://www.linkedin.com/in/vitalii-shved-a451b6151/"
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a
                  href=""
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#fecebook"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a
                  href="https://github.com/VitaliiShv"
                  class="social-icons"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
