<div class="backdropp is-hidden" data-modal_our-team>
  <div class="modal_our-team">
    <button type="button" class="button-close-modal" data-close-modal_our-team>
      <svg class="" width="25" height="25">
        <use href="./images/sprite.svg#close-button"></use>
      </svg>
    </button>

    <h2 class="title_modal_our-team">
      <span class="title-accent">Go</span>IT Students
    </h2>

    <div>
      <ul class="employees-list">
        <li class="list-employees-item">
          <div class="position_name">
            <img
              class="employe-photo"
              src="./images/cat.webp"
              alt="employe photo"
            />
            <p class="employe-name">employe-name</p>
          </div>
          <div class="description-card">
            <p class="employee-specialty">Frontend Developer</p>
            <ul class="social-list list">
              <li class="">
                <a href="" class="social-icons">
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a href="" class="social-icons">
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#fecebook"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a href="" class="social-icons">
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="list-employees-item">
          <div class="position_name">
            <img
              class="employe-photo"
              src="./images/cat.webp"
              alt="employe photo"
            />
            <p class="employe-name">employe-name</p>
          </div>
          <div class="description-card">
            <p class="employee-specialty">Frontend Developer</p>
            <ul class="social-list list">
              <li class="">
                <a href="" class="social-icons">
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a href="" class="social-icons">
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#fecebook"></use>
                  </svg>
                </a>
              </li>
              <li class="">
                <a href="" class="social-icons">
                  <svg class="social-icons-item" width="25" height="25">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
