.film__list {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-top: 10px;
  //display: flex;
  // flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
    margin-top: 28px;
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * 30px);
  }

  @media screen and (min-width: 1200px) {
    margin-right: calc(-1 * 16px);
  }
}

.gallery__item {
  position: relative;
  margin-top: 20px;
  transition: all 0.2s;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 32px);
    margin-right: 32px;
    // display: flex;
    margin-top: 32px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 16px);
    margin-right: 16px;
  }
}

.img {
  display: block;
  min-width: 280px; //! max змінив на min
  height: 398px;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    height: 450px;
    min-width: 100%;
  }

  @media screen and (min-width: 1200px) {
    height: 574px;
  }
}

.item__text {
  margin-top: 8px;
}

.gallery__item:hover,
.gallery__item:focus {
  @media screen and (min-width: 1200px) {
    transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.03);
  }
}

.item__capt {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 19px;
    line-height: 1.2;
  }
}

.item__wrap {
  //!
  min-width: 280px;
  display: flex;
  justify-content: space-between; //!
}

.item__genre {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--accent-color);

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.item__rating {
  bottom: 100%;
  position: absolute; //! Відносне позиціонування
  margin-left: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  background: var(--accent-color);
  border-radius: 5px;
  padding: 1px, 6px, 1px, 6px;
  width: 36px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.705); //!Додає тінь під рейтингом

  @media screen and (min-width: 1200px) {
    width: 40px;
    height: 20px;
    padding: 3px, 8px, 3px, 8px;
    margin-top: 5px;
  }

  //! Адаптивна верстка
  @include mq(mobile-only) {
    width: 60px;
    height: 30px;

    right: 0px; //! Встановити -5px, щоб змістилось праворуч
    bottom: calc(100% - 30px); //! Додати + 5px, щоб змістилось вгору
    font-size: 16px;
  }
  @include mq(tablet) {
    width: 70px;
    height: 35px;

    right: 0px;
    bottom: calc(100% - 35px);
    font-size: 18px;
  }
  @include mq(desktop) {
    width: 80px;
    height: 40px;

    right: 0px;
    bottom: calc(100% - 40px);
    font-size: 20px;
  }
}
