// wrappers

.header-section-library {
  padding-top: 58px;
}

.header-bg-library {
  margin-left: auto;
  margin-right: auto;

  // max-width: 320px;
  min-height: 230px;

  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../images/library-background-img/library-header-background-mobile.jpg);
  background-color: var(--black-text-color);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (max-width: 768px) and (min-resolution: 192dpi),
    screen and (max-width: 768px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(../images/library-background-img/library-header-background-mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    // max-width: 768px;

    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(../images/library-background-img/library-header-background-mobile-tablet.jpg);

    @media screen and (max-width: 1200px) and (min-device-pixel-ratio: 2),
      screen and (max-width: 1200px) and (min-resolution: 192dpi),
      screen and (max-width: 1200px) and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../images/library-background-img/library-header-background-mobile-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1920px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(../images/library-background-img/library-header-background-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../images/library-background-img/library-header-background-desktop@2x.jpg);
    }
  }
}

// saving btn radio

.data {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.data__item:first-child {
  @media screen and (min-width: 768px) {
    margin-right: 15px;
  }
}

.data__btn {
  display: block;

  padding-top: 14px;
  padding-bottom: 12px;

  min-width: 130px;

  &:hover,
  &:focus {
      background-color: var(--accent-color);
    }
  
  @media screen and (min-width: 768px) {
    min-width: 136px;
  }

  text-align: center;

  font-family: var(--main-font);
  font-weight: var(--roboto-medium);
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  color: var(--white-text-color);

  cursor: pointer;

  border: 1px solid var(--white-text-color);
  border-radius: 5px;
}

.data__input:checked ~ .data__btn {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: var(--white-text-color);
  
}
