//wrappers

.header-section {
  padding-top: 58px;
}

//bg

.header-bg {
  margin-left: auto;
  margin-right: auto;

  // max-width: 100%;
  min-height: 230px;

  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../images/index-background-img/abstract-background-mobile.jpg);
  background-color: var(--black-text-color);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (max-width: 768px) and (min-resolution: 192dpi),
    screen and (max-width: 768px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(../images/index-background-img/abstract-background-mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    // max-width: 100%;

    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(../images/index-background-img/abstract-background-tablet.jpg);

    @media screen and (max-width: 1200px) and (min-device-pixel-ratio: 2),
      screen and (max-width: 1200px) and (min-resolution: 192dpi),
      screen and (max-width: 1200px) and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../images/index-background-img/abstract-background-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1920px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(../images/index-background-img/abstract-background-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../images/index-background-img/abstract-background-desktop@2x.jpg);
    }
  }
}

// infinite color bg

// .infinite-color-bg {
//   background-color: #000;
// }

// logo
.logo {
  position: absolute;
  top: 46px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }

  text-decoration: none;

  color: var(--white-text-color);

  cursor: pointer;
}

.logo__icon {
  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }
}

.logo__name {
  @media screen and (max-width: 768px) {
    display: none;
  }

  font-family: var(--main-font);
  font-weight: var(--roboto-medium);
  font-size: 30px;
  line-height: 1.16;

  color: var(--white-text-color);
}

// side-nav

.side-nav {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 40px;

  font-family: var(--main-font);
  font-weight: var(--roboto-medium);
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;

  color: var(--white-text-color);
}

.side-nav__item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:first-child {
    margin-right: 39px;
    
  }
  &:focus,
  &:hover {
    transform: scale(1.2);
  }
}

.side-nav__link {
  text-decoration: none;
  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: inherit;

  &:focus,
  &:hover {
    text-shadow: 0px 3px 5px #ffffff;
  }
}

.side-nav__link--current-page {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    bottom: -3px;
    left: 0;

    height: 3px;
    width: 100%;

    background-color: var(--warning-color);
  }
}

// form

.search-form {
  position: relative;

  text-align: center;
}

.search-field {
  width: 100%;

  font-size: 14px;
  line-height: 1.14;

  &:hover,
  &:focus {
    border-bottom: 0.5px solid #ff6b08;
  }

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid var(--white-text-color);

  font-family: 'Roboto', sans-serif;

  color: var(--white-text-color);

  &::placeholder {
    color: var(--white-text-color);
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid var(--accent-color);

    &::placeholder {
      color: var(--accent-color);
    }
  }
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;

  @media screen and (min-width: 768px) {
    right: 185px;
  }

  @media screen and (min-width: 1200px) {
    right: 402px;
  }

  padding: 0;

  background-color: transparent;
  border: transparent;

  color: var(--white-text-color);

  //   @include transition(color);

  .search-field:focus ~ & {
    color: var(--accent-color);
  }
}

// warning massage

.header-warning {
  position: absolute;
  top: 155px;

  font-size: 14px;
  line-height: 1.14;

  @media screen and (max-width: 768px) {
    max-width: (320px - 40);
  }

  @media screen and (min-width: 768px) {
    width: (768px - 118);
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    width: (1200px - 100);
    text-align: center;
  }

  color: var(--warning-color);
}


.navigation__logo {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      transform: scale(1.15);
      text-shadow: 0px 8px 9px rgba(190, 190, 190);
    }
}