.modal-btn {
  font-family: var(--main-font);
  font-weight: var(--roboto-medium);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 1.14em;
  text-align: center;
  border-radius: 5px;
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    box-shadow: var(--shadow);
  }
}
// Решта стилів для активної кнопки сторінки Library мобільної версії можна використати як шаблон
//   height: 44px;
//   width: 130px;
//   color: var(--white-text-color);
//   background: var(--accent-color);
//   box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
//   border-style: none;
