.btn-to-top {
    position: fixed;
    bottom: 3vh;
    right: -140px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    cursor: pointer;
    border: 1px solid #ff6b08;
    background-color: #ffffff;
    color: #ff6b08;
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 1200px) {
        width: 50px;
        height: 50px;
    }
    @media screen and (max-width: 1199px) {
        width: 40px;
        height: 40px;
    }
    @media screen and (max-width: 767px) {
        width: 35px;
        height: 35px;
    }
}

.btn-to-top:hover {
    background-color: #ff6b08;
    color: #ffffff;
}

.btn-to-top--visible {
    right: calc(2.5%);
    opacity: 1;
    visibility: visible;
}

.icon-to-top {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    @media screen and (min-width: 1200px) {
        width: 1.5em;
        height: 1.5em;
    }
    @media screen and (max-width: 1199px) {
        width: 1.2em;
        height: 1.2em;
    }
    @media screen and (max-width: 767px) {
        width: 1.1em;
        height: 1.1em;
    }
}

.btn-to-top--dark {
    border: 1px solid #ff6b08;
    background-color: #2a2a2a;
    color: #ff6b08;
}