//! Прив'язуюь до контейнера Хедера
.header-bg,
.header-bg-library {
  position: relative;
}

.header__themes-icon {
  position: absolute;

  justify-content: flex-end;
  padding: 0;

  fill: var(--white-text-color);

  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 350ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--white-text-color);
    transform: scale(1.3);
  }

  @include mq(mobile-only) {
    width: 20px;
    height: 20px;

    right: 20px;
    top: 195px;
  }
  @include mq(tablet) {
    width: 25px;
    height: 25px;

    right: 20px;
    top: 190px;
  }
  @include mq(desktop) {
    width: 30px;
    height: 30px;

    right: 20px;
    top: 185px;
  }
}

.hidden-icon {
  visibility: hidden;
}

.dark-theme {
  background-image: url(../images/bg-night.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}
.light-theme {
  color: var(--black-text-color);
  background-color: var(--light-background-color);
}

.footer__dark-theme {
  color: var(--white-text-color);
  background-color: var(--footer-background-dark);
}
.footer__light-theme {
  color: var(--footer-text-color);
  background-color: var(--footer-background);
}

.footer__btn-dark {
  color: var(--white-text-color);
}
