.backdrop {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(129, 129, 129, 0.5);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100vh;

  padding: 48px 20px;

  background-color: var(--white-text-color);
  opacity: 1;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    max-width: 280px;
    overflow: scroll;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    gap: 68px;

    width: 704px;
    height: 552px;

    padding: 40px 72px 40px 36px;
  }

  @media screen and (min-width: 1280px) {
    gap: 16px;

    width: 806px;
    height: 558px;

    padding: 40px 12px;
  }

  .backdrop.is-hidden & {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.1);
  }

  img {
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  padding: 0;

  background-color: transparent;

  border: none;
  cursor: pointer;

  transition: fill 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.information {
  position: relative;
  background-color: var(--white-text-color);

  img {
    width: 240px;
    height: 357px;
    object-fit: contain;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    gap: 68px;

    img {
      width: 264px;
      height: 374px;
    }
  }

  @media screen and (min-width: 1280px) {
    gap: 16px;

    img {
      width: 375px;
      height: 478px;
    }
  }
}

.information::after {
  content: '';
  position: absolute;
  width: 300px;
  height: 150px;
  top: 13px;
  left: 4px;
  background-image: url(../images/icon-youtube.svg);

  @media screen and (min-width: 768px) {
    top: 3px;
    left: 10px;
  }

  @media screen and (min-width: 1280px) {
    top: 3px;
    left: 31px;
  }
}

.movie-details {
  width: 240px;

  @media screen and (min-width: 768px) {
    width: 264px;
  }

  @media screen and (min-width: 1280px) {
    width: 391px;
  }
}
.movie-details__heading {
  margin-bottom: 20px;

  font-size: 20px;
  line-height: calc(23 / 20);

  text-transform: uppercase;

  color: var(--black-text-color);

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: calc(35 / 30);
  }
}
.movie-details__list-info {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-bottom: 20px;
}
.list-info__item {
  display: flex;
  align-items: flex-start;
}
.testimonial {
  min-width: 69px;

  margin-right: 39px;

  font-size: 12px;
  line-height: calc(16 / 12);

  color: var(--film-card-text-color);

  @media screen and (min-width: 1280px) {
    margin-right: 83px;
  }
}
.mark {
  font-size: 12px;
  line-height: calc(16 / 12);
  font-weight: 500;
  color: var(--black-text-color);

  .mark__rating {
    width: 36px;
    margin-right: 2px;
    padding: 1px 10px;
    line-height: calc(14 / 12);

    color: var(--white-text-color);
    background: var(--accent-color);
    border-radius: 5px;
  }

  .mark__delimeter {
    margin-right: 3px;

    color: var(--film-card-text-color);
  }

  .mark__quantity {
    width: 36px;
    padding: 1px 4px;

    line-height: calc(14 / 12);

    background: var(--footer-background);
    border-radius: 5px;
  }

  &--original-title {
    text-transform: uppercase;
  }
}
.about__text {
  margin-bottom: 8px;

  font-size: 12px;
  line-height: calc(16 / 12);
  font-weight: 500;
  text-transform: uppercase;

  color: var(--black-text-color);
}
.about__descr {
  height: 100px;
  overflow: auto;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: calc(20 / 12);
  font-weight: 500;
  color: var(--black-text-color);
}
.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;

  @media screen and (min-width: 768px) {
    gap: 15px;
  }
  @media screen and (min-width: 1280px) {
    justify-content: flex-start;
    gap: 15px;
  }
}
.btton {
  // padding: 14px 10px 12px;
  min-width: 110px;
  height: 44px;
  font-size: 12px;
  line-height: calc(16 / 12);
  font-weight: 500;
  text-transform: uppercase;

  color: var(--black-text-color);
  background-color: transparent;
  border: 1px solid var(--black-text-color);
  border-radius: 5px;

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1280px) {
    width: 136px;
  }

  &:hover {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.in-mylibrary {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
