.backdropp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.1);
    scale: 1;
    transition-property: opacity, visibility, scale;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdropp.is-hidden {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    scale: 1.3;
}

.modal_our-team {
    margin-top: 5%;
    width: 280px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 5px;
    padding: 44px 10px 10px 10px;
}
.modal_our-team__themDark{
    background-color: #545454;
}

@media screen and (min-width: 768px) {
    .modal_our-team {
        margin-top: 1%;
        width: 600px;
        padding: 44px 25px 15px 25px;
    }
}

@media screen and (min-width:1200px) {
    .modal_our-team {
        margin-top: 1%;
        width: 806px;
        padding: 32px 12px 12px;
    }
}

.button-close-modal {
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    transform: translate(-8px, 8px);
    border: none;
    background-color: transparent;
    background-size: 100%;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: #FF6B01;   
    }
}

@media screen and (min-width: 768px) {
    .button-close-modal {
        transform: translate(-20px, 20px);
    }
}
.button-close-modal__themDark{
    &:hover,
    &:focus {
        .icon-close {
                fill: #000;
            }
}
}
.icon-close__themDark{
    fill: #ffffff;
    transition-property: fill;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title_modal_our-team {
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}
.title_modal_our-team__themDark{
    color: #fff;
}

.title-accent {
    color: orangered;
}

.employees-list {
    align-items: center;
}

@media screen and (max-width:768px) {
    .employees-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

@media screen and (min-width:768px) {
    .employees-list {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        gap: 15px;
    }
}

.list-employees-item {
    width: 250px;
    height: 370px;
    background: var(--footer-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5% 5% 5% 5%;
    overflow: hidden;
    
}

.list-employees-item__themDark{
    background-color: #959090;
    border: #8c8c8c 0.5px solid;
}

@media screen and (max-width:767px) {
    .list-employees-item {
        flex-wrap: wrap;
        flex-direction: row;
    }
}

.employe-photo {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.position_name {
    position: relative;
}

.employe-name {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 38px;
    bottom: 0%;
    text-align: center;
    color: var(--white-text-color);
    background: rgba(47, 48, 58, 0.5);

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

.employee-specialty {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin: 4px 0 0 0;
    color: var(--white-text-color);
    background: #FF6B01;
    border-radius: 5px 25px 5px 25px;
    width: 100%;
    height: 25px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.description-card {
    padding: 10px;
    

}

.social-list {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin: 15px 0 0 0;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 36px;
    height: 36px;
    border: 0.5px solid rgba(0, 0, 0, 0.6);
    border-radius: 25% 25% 25% 25%;
    color: rgba(0, 0, 0, 0.6);
    transition-property: color,border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    
    &:hover,
    &:focus {
        color: var(--accent-color);
        border: 0.5px solid var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        scale: 1.01;

        .social-icons-item {
            fill: var(--accent-color);
        }
    }
}

.social-icons__themDark{
    color: rgb(255, 255, 255, 0.75);
    border: 0.5px solid #fff;
    &:hover,
    &:focus {
    border: 0.5px solid #545454;
        .social-icons-item {
            fill: #545454;
            }
    }
}

.social-icons__disabled{
    cursor: no-drop;
    pointer-events:painted;
    &:hover,
    &:focus {
        border: 0.5px solid rgba(0, 0, 0, 0.6);
        box-shadow: none;
        scale: 1;
        .social-icons-item {
          fill: rgba(0, 0, 0, 0.6);
        }

}
}

.social-icons__disabled--themDark {
    &:hover,
    &:focus {
        color: rgb(255, 255, 255, 0.75);
        border: 0.5px solid #fff;
        box-shadow: none;
        scale: 1;

        .social-icons-item {
            fill: #fff;
        }

    }
}

.social-icons-item {
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}